
{% extends 'core/base.html' %}


{% block titulo %} portafolio {% endblock %}


{% block backgroud %}{% load static %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}



{% block hesaders %}

<h1>Portafoio</h1>
<span class="subheading">Curriculo</span>

{% endblock %}





{% block contenido %}

    {% for p in projects %}

        <div class="container">
            <!-- Proyecto -->
            <div class="row project">  	
                <div class="col-lg-3 col-md-4 offset-lg-1">
                    <img class="img-fluid" src="{{p.image.url}}" alt="">
                </div>
            <div class="col-lg-7 col-md-8">
                    <h2 class="section-heading title">{{p.title}}</h2>   
                    <p>{{p.description}}</p>
                    {% if p.link  %}
                    <p><a href="{{p.link}}">Más información</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}


{% endblock %}



